'.source.dtd':
  'Element':
    'prefix': 'element'
    'body': '<!ELEMENT ${1:name} (${2:content})>'
    'description': 'Create an ELEMENT'
  'Attlist':
    'prefix': 'attlist'
    'body': '<!ATTLIST ${1:element} ${2:attribute} ${3:TYPE} #${4:VALUE}>'
    'description': 'Create an ATTLIST'
  'Simple':
    'prefix': '<'
    'body': '<!${1:NAME} ${2:element} $3>'
