'.text.xml':
  'DTD Element':
    'prefix': 'dtd-element'
    'body': '<!ELEMENT ${1:name} (${2:content})>$3'
    'description': 'Create an ELEMENT'
  'DTD Attlist':
    'prefix': 'dtd-attlist'
    'body': '<!ATTLIST ${1:element} ${2:attribute} ${3:TYPE} #${4:VALUE}>$5'
    'description': 'Create an ATTLIST'
  'DTD Simple':
    'prefix': 'dtd-simple'
    'body': '<!${1:NAME} ${2:element} $3>$4'
  'DTD Entity':
    'prefix': 'dtd-entity'
    'body': '<!ENTITY ${1:name} "${2:value}">$3'
    'description': 'Create an ENTITY'
  'DTD Import':
    'prefix': 'dtd-import'
    'body': '<!DOCTYPE ${1:root} SYSTEM "${2:filename}.dtd">$3'
    'description': 'Import an external DTD file'
  'DTD Local':
    'prefix': 'dtd-local'
    'body': """
        <!DOCTYPE ${1:root} [
          $2
        ]>
      """
